

<div class = "review">
	<h1>Edit food - <%= @food.name %></h1>
<%= simple_form_for ([@cafeterium, @stall, @food]) do |f| %>
	<h3>*Name</h3>
	  <%= f.input :name,:maxlength =>30 ,:label => false %>
	  <br />
	  <h3>*Price</h3>
	  <%= f.input :price  ,:label => false %>
	  </br >
	  <h3>Photo</h3>
	  <%= f.input :photo ,:label => false %>
	  <br />
	  <%= f.button :submit %>

<% end %>
</div>
