<div class = "review">
	<div class = "head">
<h1>New Stall <%= @cafeterium.name %></h1>
</div>
<%= simple_form_for ([@cafeterium, @stall]) do |f| %>
	<h3>*Name</h3>
  <%= f.input :name,:maxlength =>30, :label => false  %>
  <br />
  <h3>*Description</h3>

  <%= f.input :description, :label => false %>
    <br />
  <%= f.button :submit %>
<% end %>
<br />
</div>