<html>
<head><title>Edit review</title></head>
<h1>Edit review</h1>
<body>
<%= simple_form_for ([@cafeterium, @stall, @review]) do |f| %>
  <%= f.input :user %>
  <%= f.input :rating %>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>
</body>
</html>
