<div class = "review">
<div class = "head">
<h1><%= @stall.name %>'s reviews</h1>
</div>
<div class = "table">
<table class = "flat-table flat-table-1">
	<thead>
		<tr>
			<td>Users</td>
			<td>Ratings</td>
			<td>Comments</td>
			<td>Edit</td>
			<td>Delete</td>
		</tr>
	</thead>
	<tbody>
		<% @review.each do |review| %>
		<tr>
			<% if review.user == "" %>
			<td>Anonymous</td>
			<% else %>
			<td><%= review.user %></td>
			<% end %>
			<td><%= review.rating %></td>
			<td id = "tdlittle"><%= review.comment %></td>
			<td><%= link_to "Edit", edit_cafeterium_stall_review_path(@cafeterium, @stall, review) %></td>
			<td><%=link_to "Delete", cafeterium_stall_review_path(@cafeterium, @stall, review), :method => :delete, :class => "delete", :confirm => "Are you sure ?"%></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
	<%= link_to 'Create New Review', new_cafeterium_stall_review_path %>
	<br /><br /><br />
</div>

