<div class="review">
		<div class = "head">
		<h1>New Review - <%= @stall.name %></h1>
		</div>
		<%= simple_form_for ([@cafeterium, @stall, @review]) do |f| %>
			<h3>Name</h3>
			<%= f.input :user,:maxlength =>30, :label => false  %>
			<br />
			<h3>*Rating</h3>
			<%= f.input :rating, :collection => 1..5 ,:label => false  %>
			<br />
			<h3>*Comment</h3>
			<%= f.input :comment,:style=> 'width: 20px',:label => false  %>
			<br /><br />
			<%= f.button :submit %>
			
		<% end %>
	<br />
	</div>
